backend/.gradle/
backend/.gradle-user/
backend/.gradle-native/
backend/build/
backend/out/
backend/.idea/
backend/.kotlin/
backend/.test-tools/
backend/data/
backend/src/main/resources/application-local.yml
frontend/node_modules/
frontend/dist/
*.iml
.gradle/
backend/.git-backup/
